@import 'scss/_elements';
@import 'scss/_typography';
@import 'scss/_modal';
@import 'scss/_menu';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.fb {

}

.fb-signin {
  display: flex;
  //min-height: calc(100vh - 90px);

  &--barhopper,
  &--bar {
    flex-basis: 0;
    flex-grow: 1;
  }
}

.bh-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  height: 90px;
  overflow: hidden;
}

.fb-add-bar__map--container {
  width: 900px;
  height: 300px;
}

.fb-add-bar__map {
  width: 100%;
  height: 100%;
}

.window {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
}

.fb-marker {
  position: relative;

  &__window {
    height: 150px;
    width: 300px;
    position: absolute;
    top: -160px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    margin-left: 15px;
    background-color: white;
    @include box-shadow-sm;
    opacity: 0.2;

    &:after {
      @include pseudo;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid $bh--dark;
      bottom: -10px;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 0px 0px 10px;
      height: $h--sm;
      border-bottom: 1px solid $bh--light;
    }
  }
}

.fb-icon {
  svg {
    fill: #212121;
  }

  &--small {
    svg {
      height: 15px;
      width: 15px;
      min-width: 15px;
    }
  }
}

img {
  max-width: 100%;
}



ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.bh-user {
  display: flex;
  align-items: center;

  &__photo {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__info {
    button {
      padding: 0px;
      font-weight: 400;
    }
  }
}

.bh-bar {
  display: flex;
  min-height: calc(100vh - 90px);

  &__welcome {
    min-width: calc(100% - 400px);
    background-color: pink;
  }

  &__menu {
    width: 400px;


  }
}

.bh-bars {
  display: flex;

  &__list {
    min-width: 400px;

    z-index: 20;
  }
}

.bh-label {
  font-size: 0.75em;
  opacity: 0.75;
}

.bh-bars__list__item {
  &__header {
    height: $h--lg;

    button {
      height: 100%;
      width: 100%;
      border-bottom: 1px solid $bh--light;
      text-align: left;
      font-weight: 500;
      padding: 0px 15px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      .bh-item__info,
      .bh-item__title {
        flex-basis: 0;
        flex-grow: 1;
        display: flex;
        align-items: center;
      }

      .bh-label {
        position: absolute;
        top: -20px;
      }

      .bh-item__info {
        display: flex;

        svg {
          border-radius: 50%;
          overflow: hidden;
          background-color: $bh--light;
        }

        &__all {
          span.count {
            font-size: 0.75em;
            margin-left: 5px;
          }
        }

        &__all,
        &__friends {
          flex-basis: 0;
          flex-grow: 1;
          display: flex;
          position: relative;
          align-items: center;
          min-height: 30px;
        }
      }
    }
  }
  &__content {
    max-height: 0px;
    overflow: hidden;
    transition: 0.1s all;
    transition-delay: 0.1s;
    background-color: $bh--light;

    &--inner {
      opacity: 0;
      transition: 0.1s all;
      transition-delay: 0s;
      padding: 30px 15px;
    }
  }

  &.is--active {
    .bh-bars__list__item__content {
      max-height: 300px;
      transition-delay: 0s;
      &--inner {
        opacity: 1;
        transition-delay: 0.1s;
      }
    }
  }
}

.user-thumb-small {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.bh-layout {
  &--left {
    max-width: 400px;
    width: 400px;
    min-width: 400px;
    box-shadow: 6px 0px 12px rgba(0,0,0,0.15);
    z-index: 20;
    height: 100vh;
    overflow: hidden;
  }
}

.bh-btn {
  &--leave {
    position: absolute;
    bottom: 0;
    background-color: red;
    color: white;
    height: 60px;
    text-align: center;
  }
}

.bh-about {
  &--inner {
    padding: 30px 15px;
  }

  &__name {
    margin-bottom: 30px;
  }

  &__image {
    background-color: grey;
    height: 200px;
  }
}
