.bh-menu {

  width: 100%;
  background-color: $bh--dark;
  color: white;

  button {
    color: white;
  }

  .bh-menu__title,
  .bh-menu__label {
    color: white;
  }

  .bh-menu__title,
  .bh-item__title {
    width: 100%;
  }

  .bh-item__title {
    font-weight: 500;
  }

  .bh-menu__label,
  .bh-item__label {
    min-width: 90px;
    width: 90px;
    text-align: center;
  }

  &__header {
    display: flex;
    align-items: center;
    height: $h--md;
    padding: 0px 15px;
    border-bottom: 1px solid $bh--light;
  }

  &__item {
    display: flex;
    align-items: center;
    height: $h--md;
    padding: 0px 15px;
    width: 100%;
    text-align: left;

    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    &:hover {
      background-color: $bh--light;
    }
  }
}

.bh-header {
  border-bottom: 1px solid $bh--light;
}
