.bh-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  width: 450px;
  min-height: 50vh;
  transform: translate3d(-50%, -50%, 0);
  background-color: white;
  @include box-shadow-sm;
  outline: none;

  &__header {
    height: $h--md;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    border-bottom: 1px solid $bh--light;
  }

  &__content {
    padding: 30px 15px;
  }

  &__footer {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
  }
}
